.dashboard-wrapper {
  /* background-color: red; */
  width: 98%;
  height: "auto";
  min-height: 100vh;
  margin: 5em auto 1em;
  display: flex;
  /* justify-content: space-between; */
  gap: 1em;
}

.left-dashboard-content {
  max-width: 20%;
  display: flex;
  gap: 1em;
  height: max-content;
  z-index: 35;
}

.menu-icons-wrapper {
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
  background-color: white;
  width: 10%;
  padding: 1em;
  position: relative;
}
.menu-drop-wrapper {
  width: 90%;
  background-color: white;
  border-radius: 8px;
  padding: 1em;
  line-height: 2em;
  /* min-width: 10rem; */
  position: relative;
}

.menu-drop-wrapper.close {
  width: 0;
}

.menu-icon {
  width: 1.1em;
}

.menu-drop-wrapper {
  width: 80%;
  background-color: white;
  border-radius: 8px;
  padding: 1em;
  line-height: 2em;
  /* min-width: 10rem; */
  /* z-index: 30; */
  position: relative;
}
@media screen and (max-width: 1220px) {
  .menu-drop-wrapper {
    width: 200px;
    height: auto;
    background-color: white;
    border-radius: 8px;
    padding: 1em;
    line-height: 2em;
    /* min-width: 10rem; */
    position: absolute;
    z-index: 70;
    left: 100%;
  }
  .menu-drop-wrapper.close {
    width: 0;
    height: 94%;
  }
}
.chev-right.iconOpen {
  transform: rotate(-180deg);
}

.right-dashboard-content {
  min-width: 80%;
  /* background-color: aqua; */
  /* max-width: 80%; */
  padding: 10px;
  /* border: 1px solid red; */
}
@media screen and (max-width: 1220px) {
  .right-dashboard-content {
    min-width: 80%;
    /* background-color: aqua; */
    /* max-width: 80%; */
    padding:10px 10px 10px 30px;
    /* border: 1px solid red; */
  }
}

.chev-right {
  position: absolute;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  top: 1em;
  right: -0.5em;
  background-color: #ddd6e0;
  border-radius: 50%;
}
.dummy-link-text {
  transform: rotate(-90deg);
  transform-origin: left bottom;
  position: absolute;
  bottom: 50%;
  left: 30px;
  white-space: nowrap;
  font-size: 0.8em;
  color: #b3aeae;
}

.right-actions-wrapper {
  display: flex;
  justify-content: center;
  gap: 1em;
}

.breadcrumb {
  display: flex;
  gap: 5px;
  align-items: center;
}

/* custom tabs */
.tabs-container {
  width: 350px;
  /* width: 200px; */

  /* overflow: hidden; */

  /* border-bottom: 2px solid #D7D7D7; */
}

.tabs {
  display: flex;
  position: relative;
  border-radius: 12px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border: 2px solid #d7d7d7;
}

.tab {
  display: flex;
  text-align: center;
  /* padding: 10px 20px; */
  width: 50%;
  height: 50px;
  cursor: pointer;
  font-weight: 500;
  color: gray;
  justify-content: center;
  align-items: center;

  transition: color 0.3s ease-in-out;
}

.tab.active {
  color: #3a1d6e;
  font-weight: bold;
}

.underline {
  position: relative;
  width: 100%;
  height: 4px;
  color: transparent;
  bottom: 3px;
}

.slider {
  position: absolute;

  bottom: 0;
  height: 4px;
  width: 50%;
  background: #5ad681;
  transition: transform 0.3s ease-in-out;
}

.slider.organic {
  transform: translateX(0%);
}

.slider.paid {
  transform: translateX(100%);
}

.airplane-icon {
  position: absolute;
  bottom: -28px;
  /* left: 25%;
    transform: translateX(-50%); */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: left 0.3s ease-in-out;
  z-index: 30;
}

.slider.paid + .airplane-icon {
  left: 100%;
}

.tab-view-actions-wrapper {
  width: 100%;
  /* min-width: 1100px; */
  /* height: 60px; */
  border: 2px solid #d7d7d7;
  border-radius: 12px;
  border-top-left-radius: 0;
  margin-top: -6px;
  background: white;
  display: gird;
  grid-template-columns: repeat(6, 1fr);
  justify-content: center;
  align-items: center;
  grid-auto-rows: 100%;
  /* overflow-x: scroll; */
  /* overflow-y: visible; */
  /* flex-wrap: wrap; */
}

.tab-view-actions-wrapper{
  /* display: flex; */
  width: 100%;
  height: 60px;
  /* justify-content: space-between;
  align-items: center; */
  /* background-color: red; */
  /* margin: 1em 0; */
  /* border: 1px solid red; */
  border: 2px solid #D7D7D7;
  border-radius: 12px;
  border-top-left-radius: 0;
  margin-top: -6px;
  background: white;
  display: grid;
  grid-template-columns: repeat(6, 1fr); 
  justify-content: center;
  align-items: center;
  grid-auto-rows: 100%;
}
.bgmiBlog{
  padding: 0 10px;
}
@media screen and (max-width: 1350px) {
  .tab-view-actions-wrapper {
    /* flex-wrap: wrap; */
    grid-template-columns: repeat(3, 1fr); /* Change to 3 columns */
    height: auto; 
  }
  .bgmiBlog{
    padding: 0;
  }
}

@media screen and (max-width: 776px) {
  .tab-view-actions-wrapper {
    /* flex-wrap: wrap; */
    grid-template-columns: repeat(2, 1fr); /* Change to 3 columns */
    height: auto; 
  }
}

.col-span-2 {
  grid-column: span 2 / span 2;
}

.border-r-2 {
  border-right: 2px solid #d7d7d7;
}
.border-l-2 {
  border-left: 2px solid #d7d7d7;
}

.p-4 {
  padding: 8px;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 20px;
  padding: 20px 0;
}

.chart-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px 0;
}

.mt-16px {
  margin-top: 16px;
}

.customTabsWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .customTabsWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column-reverse;
    gap: 10px;
  }
}


